<%= form_with(model: @user, url: login_path, local: true) do |form| %>
<div class="form-container">
    <div>
        <%= form.text_field :username, placeholder:"Enter Username" , class:"field" %>
    </div>
    <div>
        <%= form.password_field :password, placeholder:"Enter Password", class:"field" %>
    </div>
    <%= form.submit "Sign in!", class:"submit button" %>
    <% end %>
</div>