<%# WE DO NOT ROUTE TO THIS PAGE %>
<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title">
            Sign In!
        </div>
    </div>
    <%= render(partial: "form") %>
</div>