<div>
    <div id="stationDropdown" class="dropdown-content">
        <input type="text" placeholder="Search..." id="input" onkeyup="filterFunction()">
        <% stations.sort_by{|station| station.name}.each do |station| %>
        <% if count_available_bikes(station) !=0 %>
        <%= link_to station.name, station_path(station.id) %>
        <% end %>
        <% end %>
    </div>
</div>

<script>
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("input");
        filter = input.value.toUpperCase();
        div = document.getElementById("stationDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>