<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title-centered">
      Rent a Bike!
    </div>
    <%= render(partial: 'stations/toggle') %>
    <br>
    <div class="flexbox vertical stretch">
      <% if @view == 'map' %>
        <%= render(partial: 'layouts/map') %>
      <% else %>
        <% if @stations.present? %>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>
      <% end %>
    </div>
	</div>
</div>
