<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Rent a Bike!
    </div>
    <div class="flexbox">
      <%= link_to 'List View', stations_path() %>
    </div>
    <div class="flexbox vertical stretch">
        <%= render(partial: 'layouts/map') %>
    </div>
	</div>
</div>