<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <%= @station.name %> (<%= @station.address %>)
    </div>
  </div>
</div>
<%= render(partial: "form") %>
