<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to ValetBike, <%= @user.first %>!</h1>
    <p>
      You have successfully signed up to ValetBike,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>Thanks for joining and enjoy riding with us!</p>
  </body>
</html>