<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
  <div class="section-title-centered">
    Sign Up!
  </div>
</div>
</div>