<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      User Info
    </div>
    <div class="flexbox">
        First Name: <%= @user.first %>
    </div>
    <div class="flexbox">
        Last Name: <%= @user.last %>
    </div>
  </div>
</div>