<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
<div ="container">
    <div class="row">
        <div class="column">
            <div class="section-title">
                Welcome to Valet Bike, Riders!
            </div>
            <div class="button">
                <%= link_to('Rent a Bike!', stationmap_path) %>
            </div><br>
            <div>
                <h1>About Valet Bike</h1>
            </div>
            <div>
               <br><p>Valet Bike is a bike share program located in Nipmuc Notch. Riders can rent electric bikes and return them to any bike station. Our service is great for commuters or casual riders.</p>
            </div>
        </div>
        <div class="centered_column">
            <h1>Bike Share Locations</h1>
            <%= render(partial: 'layouts/map') %>
        </div>
    </div>
</div>
</div>
</div>

