<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
<div ="container">
    <div class="row">
        <div class="column">
            <div class="section-title">
                Welcome to Valet Bike, Riders!
            </div>
            <div class="button">
                <%= link_to('Rent a Bike!', rentals_path) %>
            </div><br>
            <div>
                <h1>About Valet Bike</h1>
            </div>
            <div>
               <br><p>Valet Bike is a bike share program located in Nipmuc Notch. Riders can rent electric bikes and return them to any bike station. Our service is great for commuters or casual riders.</p>
            </div>
        </div>
        <div class="centered_column">
            <h1>Bike Share Locations</h1>
            <div style="text-decoration:none; overflow:hidden;max-width:100%;width:500px;height:500px;"><div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=northampton&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embedded-map-code" href="https://kbj9qpmy.com/bp" id="grab-map-authorization">Internet Provider</a><style>#g-mapdisplay .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>
        </div>
    </div>
</div>
</div>
</div>

