<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
    <div class="container">
        <div class="section-title">
            Rent a bike!
        </div>
    </div>
</div>
</div>