<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
    <div class="container">
        <div class="section-title">
            Success!
        </div>
        <div class="section-title">
            Enjoy your ride!
        </div>
        <h1>Your ride ends in...</h1>
        <div id="countdown">
        </div>
    </div>
  </div>
</div>

<script>
// Set the date we're counting down to
var countdown_time = new Date("<%= @rental.end_time %>").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var current_time = new Date().getTime();
    
  // Find the distance between now and the count down date
  var time_left = countdown_time - current_time;
    
  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((time_left % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((time_left % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((time_left % (1000 * 60)) / 1000);

  if (hours < 10) {
    hours = "0" + hours.toString()
  }
  else {
    hours = hours.toString()
  }
  if (minutes < 10) {
    minutes = "0" + minutes.toString()
  }
  else {
    minutes = minutes.toString()
  }
  if (seconds < 10) {
    seconds = "0" + seconds.toString()
  }
  else {
    seconds = seconds.toString()
  }
  
  // Output the result in an element with id="demo"
  document.getElementById("countdown").innerHTML = hours + ":"
  + minutes + ":" + seconds;
    
  // If the count down is over, write some text 
  if (time_left < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "EXPIRED";
  }
}, 1000);
</script>