<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
        <br><br>
        <div style="text-align: center; font-size: 60px;" class="section-title">
            Success!
        </div>
        <div style="text-align: center;" class="section-title">
            Enjoy your ride!
        </div>
        <h1 style="text-align: center;">Your ride ends in...</h1>
        <div style="font-size: 2rem; font-weight: bold; color: #1F487E; text-align: center;" id="countdown">
          &nbsp;
        </div>
        <br><br>
        <div style="align-self: center; text-align: center;"><%= image_tag('bike_icon.png', alt: 'Bike icon', style: 'width: 100px;') %></div>
    </div>
  </div>
</div>

<script>
// set the time we are counting down to
var countdown_time = new Date("<%= @rental.end_time %>").getTime();

// update count every second
var x = setInterval(function() {

  // get current date/time
  var current_time = new Date().getTime();
    
  // find time left between now and count down time
  var time_left = countdown_time - current_time;
    
  // find hours, minutes and seconds left
  var hours = Math.floor((time_left % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((time_left % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((time_left % (1000 * 60)) / 1000);

  // convert 1 digit to 00 format strings
  if (hours < 10) {
    hours = "0" + hours.toString()
  }
  else {
    hours = hours.toString()
  }
  if (minutes < 10) {
    minutes = "0" + minutes.toString()
  }
  else {
    minutes = minutes.toString()
  }
  if (seconds < 10) {
    seconds = "0" + seconds.toString()
  }
  else {
    seconds = seconds.toString()
  }
  
  // show result in countdown div, formatted correctly
  document.getElementById("countdown").innerHTML = hours + ":"
  + minutes + ":" + seconds;
    
  // if the ride is over, say it is over
  if (time_left < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Your ride is over.";
  }
}, 1000);
</script>