<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
    Bike ID: <%= bike.identifier %>
    <div>
        Current Station: <%= bike.current_station %>
    </div>
</div>