<%= render(partial: 'layouts/header') %>
<div class="page-section flexbox vertical stretch">
<div class="section-inner flexbox vertical stretch">
<div class="section-title-centered">
  Thanks you for returning your bike!
</div>
  <h1>We hope to see you again soon.</h1>
  <% if active_rental? %>
    <%# if there is an active rental, link to rental list page %>
    <div class="button">
      <%= link_to('View Active Rentals', rentals_path) %>
    </div>
  <% end %>
</div>
</div>