<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to Syd's ValetBike!
    </div>
    <div class="flexbox">
      <%= link_to 'View Station List', stations_path() %>
    </div>
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	</div>
</div>