<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <button type="btn-primary">
      <%= link_to 'Back', :back %>
    </button>
    <div class="section-title">
      Bike List
    </div>
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
	</div>
</div>