.flash {
    background-color: maroon;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-size: medium;
    width:fit-content;
    align-self: center;
    text-align: center;
}

.notice {
    background-color: green;
}

.flash:hover {
    background-color: rgb(67, 0, 0);
}

.notice:hover {
    background-color: rgb(0, 79, 0);
}