/* Dropdown Content */
.dropdown-content {
  position: absolute;
  background-color: var(--medium-gray-color);
  max-height: 75%;
  overflow: auto;
  border-radius: 5px;
  min-width: 15%;
  min-height: 6rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--white-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--sky-blue-color);
}

/* The search field */
#input {
  position: sticky;
  top: 0;
  font-size: 16px;
  width: 100%;
  border: 2.5px solid var(--slate-gray-color);
  border-radius: 5px;
}
