ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  align-items: center;
  vertical-align: middle;
}

.header {
  float: right;
  display: block;
  color: var(--black-color);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  border-right: 0em solid var(--medium-gray-color);
  font-size: 20px;
  height: 3rem;
  line-height: 1rem;
}

.header:hover {
  color: var(--sky-blue-color);
}

li:first-child {
  width: 4rem;
  float: left;
  margin-left: 0.5rem;
  width: 60px;
  height: 50px;
}

menu_icon {
  height: 3rem;
}
