ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c4c4c4;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border-right: 1px solid #c4c4c4;
    font-size: 20px;
    height: 60px;
  }
  
  li:hover {
    background-color: #5ec4e0;
  }

  li:first-child {
    width: 90px;
    float: left;
  }

  li:first-child:hover {
    background-color: #c4c4c4;
  }