ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--medium-gray-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  li {
    float: right;
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border-right: 1px solid var(--medium-gray-color);
    font-size: 20px;
    height: 60px;
  }

  li:hover {
    background-color: var(--sky-blue-color)
  }

  li:first-child {
    width: 90px;
    float: left;
  }

  li:first-child:hover {
    background-color: var(--medium-gray-color);
  }