.column, .centered_column{
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space_evenly;
    align-items: flex_start;
    float: left;
    width: 50%;
    padding: 1%; /*10px*/
  }

  .title {
    font-size: xx-large;
  }

  h1 {
    font-size: x-large;
  }

  .centered_column {
    align-items: center;         /* centers content within centered_column */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #price_table {
    width: 75%;
    justify-self: center;  
  }
  
  #price_table td, #price_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #price_table tr:nth-child(even){background-color: #f2f2f2;}
  
  #price_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--sky-blue-color);
    color: var(--white-color);
  }