/************************************/
/*       Universal Page Style       */
/************************************/

.page-section {
  max-width: 80em;
  width: 100%;
  margin-top: 4em;
}

.page-section .section-inner {
  margin-right: 1.4em;
  margin-left: 1.4em;
}

.page-section .section-title,
.page-section .section-title-centered {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.section-title-centered {
  align-self: center;
}

.record-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.85em;
  line-height: 1.75em;
}

.record-row.even {
  background: var(--medium-white-color);
}

.record-row.odd {
  background: var(--dark-white-color);
}

.box,
.box1 {
  width: 95%;
  height: 500px;
  border: 4px solid var(--polynesian-blue-color);
  border-radius: 5px;
  background-color: var(--polynesian-blue-color);
  color: var(--white-color);
  padding: 10px;
  margin: 0px;
  overflow: auto;
}

.box1 {
  height: 631px;
}

#table_box {
  padding: 0;
}

.speech-box {
  width: 75%;
  height: 50px;
  border: 4px solid var(--medium-gray-color);
  border-radius: 5px;
  padding: 5px;
  color: var(--polynesian-blue-color);
  text-align: center;
  font-size: calc(.7vw + .7vh);
  position: relative;
  align-self: center;
}

.speech-box:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid var(--medium-gray-color);
  border-right: 10px solid transparent;
  border-top: 10px solid var(--medium-gray-color);
  border-bottom: 10px solid transparent;
  color: var(--polynesian-blue-color);
  text-align: center;
  left: 20px;
  bottom: -20px;
}