/* Bike Selection */
.container {
  margin: auto;
  text-align: left;
}

.return-container {
  margin: auto;
  text-align: center;
}

/* Radio Button */
.custom-radio {
  display: none;
}

.radio {
  position: absolute;
  /* top: 0; */
  left: 0;
  height: 25px; /*25px*/
  width: 25px; /*25px*/
  background-color: var(--light-white-color);
  border-radius: 50%; /*50%*/
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px; /*35px*/
  margin-bottom: 12px; /*12px*/
  cursor: pointer;
  font-size: 20px; /*20px*/
  justify-content: center;
  align-items: center;
}

.radio-button-container input:checked ~ .radio {
  background-color: var(--sky-blue-color);
}

/* table for list of stations */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px var(--drop-shadow-opaque);
}

.styled-table thead tr {
  background-color: var(--polynesian-blue-color);
  color: var(--white-color);
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid var(--light-gray-color);
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: var(--dark-white-color);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--delft-blue-color);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: var(--delft-blue-color);
}