/* Bike Selection */
.container {
  margin: auto;
  text-align: left;
}

.return-container {
  margin: auto;
  text-align: center;
}

/* Radio Button */
.custom-radio {
  display: none;
}

.radio {
  position: absolute;
  /* top: 0; */
  left: 0;
  height: 25px; /*25px*/
  width: 25px; /*25px*/
  background-color: var(--light-white-color);
  border-radius: 50%; /*50%*/
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px; /*35px*/
  margin-bottom: 12px; /*12px*/
  cursor: pointer;
  font-size: 20px; /*20px*/
  justify-content: center;
  align-items: center;
}

.radio-button-container input:checked ~ .radio {
  background-color: var(--sky-blue-color);
}

.map-container {
  gap: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}
