<footer>
    <p>
        <a href="https://maps.app.goo.gl/B4EbLtQsMQ9Fzfwu7">1 Chapin Way Northampton, MA 01063 | </a>
        1-800-BICYCLE |
        <a href="mailto:help@vectorbike.com">help@vectorbike.com</a>
    </p>
</footer>